<h1>Write your blog</h1>


<form action="{%url 'update' blog.id %}" method="post">

    {%csrf_token%}
    <p>제목: <input type='text' name='title' value='{{blog.title}}'></p>
    <p>작성자: <input type="text" name='publish' value="{{blog.publish}}"></p>
    본문: <textarea name='body' id="" , cols="30" , rows="10">{{blog.body}}</textarea>
    {% if blog.image %}
    <p>사진: 사진: <input type='file' name='image  ' id='' value="{{blog.image}}"></p>
    {% endif %}
    <button type='submit'> Submit</button>

</form>